body {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
}

/* Layout  */

header {
  color: white;
  background-image: url(img/Background--1.png);
  background-repeat: no-repeat;
  height: 1200px;
}

.head-navigation {
  display: flex;
}

.nav-list {
  display: flex;
  margin-left: 303px;
}

.welcome-section {
  text-align: center;
}

.head-navigation {
  padding-top: 50px;
}

.welcome-text {
  margin-top: 80px;
  margin-bottom: 90px;
}

.features-list {
  display: flex;
}

.list {
  text-align: center;
}

.list-1 {
  background-color: red;
}

.list:nth-child(4) {
  margin-right: 150px;
  margin-top: -15px;
  margin-left: 50px;
}

.list:nth-child(3) {
  margin-top: -10px;
  margin-left: 50px;
}

.list:nth-child(1) {
  margin-left: 310px;
}

.list:nth-child(2) {
  margin-top: -5px;
  margin-left: 50px;
}


.history-section {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 141px;
}

.services-list > li {
  text-align: right;
  display: flex;
  color: white;
  margin-bottom: 10px;
  margin-right: 81px;
}

.services-list > li > .services-text > h4 {
  color: #e74c3c;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: -10px;
}

.services-list > li > .services-text > p {
    line-height: 33px;
}

.services-section {
  background-color: #202020;
  display: flex;
}

.services-block {
  margin-left: 300px;
}
/* Text */


.services-tag {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 36px;
  margin-left: 388px;
  margin-top: 120px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.services-tag::after {
  content: url('img/Rectangle\ 19\ copy.png');
  position: relative;
  top: 7px;
  left: 19px;
}

.services-text {
  color: #999999;
}

.line-and-tag {
  display: flex;
}

.history-block > p {
  color: #9f9f9f;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin-bottom: 28px;
}

.history-tag {
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 36px;
  margin-top: -7px;
  margin-bottom: 35px;
  color: #6a6a6a;
}
/* 
.history-tag::before {
      content: url(img/line.png);
      padding-top: 150px;
      margin-right: 10px;
} */

.history-line {
  width: 7px;
  height: 40px;
  background-color: #e74c3c;
  border: none;
  margin-top: -4px;
  margin-right: 10px;
  margin-left: 0;
}

.feature-line {
  width: 35px;
  height: 1px;
  background-color: #6a6a6a;
  margin-bottom: 18px;
  margin-top: 19px;
}

.features-text {
  font-size: 14px;
  line-height: 20px;
  color: #b3b3b3;
}

.features-tag {
  color: #6a6a6a;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.nav-list > li {
  font-size: 15px;
  list-style: none;
  margin-left: 40px;
}

.nav-list > li:hover {
  color: #e74c3c;
}

.priority-tag {
  font-size: 25px;
  font-weight: lighter;
  margin-top: 250px;
}

.welcome-tag {
  font-size: 70px;
  margin-top: 0;
}

.line {
  width: 70px;
  height: 1px;
  border: 0.1px solid white;
  background-color: white;
}

.line-welcome {
  position: absolute;
  top: 520px;
  left: 870px;
  width: 50px;
}

.line-welcome-2 {
  position: absolute;
  top: 520px;
  left: 965px;
  width: 50px;
}

.dot {
  position: absolute;
  top: 525px;
  left: 937px;
  width: 10px;
  height: 10px;
  background-color: #e74c3c;
  border-radius: 10px;
}

.tabs {
  height: 40px;
  background-color: #3e3e3e;
}

.services-tab-1 {
  width: 5px;

  position: relative;
  top: 328px;
  left: 48px;
}

.services-tab-2 {
  width: 5px;

  position: relative;
  top: 345px;
  left: 48px;
}

.services-tab-3 {
  width: 5px;

  position: relative;
  top: 360px;
  left: 48px;
} 

.active-tag {
  color: red;
}

.active-text {
  color: #f5f5f5;
}

.active-tab {
  background-color: #e74c3c;
}
/* UTILITIES  */

p {
  font-size: 15px;
}

li {
  list-style: none;
}

/* Images  */

.header-logo {
  margin-left: 476px;
}

.down-image {
  margin-left: 930px;
}

.images {
  border: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100px;
  margin-left: 90px;
}

.monitor-img {
  margin-left: 378px;
  margin-right: 77px;
}

.active-images {
  border: 1px solid #e74c3c;
}

.services-img {
  position: absolute;
  top: 2530px;
  left: 990px;
}

/* Button */

.btn {
  font-size: 15px;
  border: none;
  border-radius: 3px;
  background-color: #e74c3c;
  font-weight: bold;
  color: white;
}

.start-button,
.history-button {
  width: 250px;
  height: 55px;
  margin-bottom: 250px;
}

.learn-button {
  width: 250px;
  height: 55px;
  border: 1px solid rgb(0, 0, 0);
  background-color: transparent;
}


/* Modal  */

.modal {
      display: none;
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

.modal-content {
      background-color: #fff;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 60px;
      width: 400px;
      margin-left: 35%;
      margin-top: 15%;
}

input[type="text"] {
      background-color: transparent;
      border: 1px solid black;
      height: 40px;
      width: 250px;
      margin-bottom: 25px;
}

.submit-btn {
      width: 150px;
      height: 40px;
      background-color: black;
      border: none;
      color: white;
      margin-top: 10px;
}

.modal-tag {
      text-transform: uppercase;
      margin-bottom: 30px;
}

.close {
      float: right;
      margin-top: -63px;
      margin-right: 7px;
}

.show {
  display: block
}

.hide {
  display: none;
}